fastapi
loguru
requests
langchain
langchain_community
langchain_ollama
langchain_chroma
chromadb
python-magic
lxml
docx2txt
PyPDF2
markdown
pysqlite3-binary
pdfminer.six
unstructured[docx]
pytesseract
pdf2image
Pillow